<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @question %>
</p>

<p>
  <strong>Angel:</strong>
  <%= @conversation.answer_1 %>
</p>

<p>
  <strong>Answer 3:</strong>
  <%= @conversation.answer_3 %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
