<%= form_for(customer_response) do |f| %>
  <% if customer_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_response.errors.count, "error") %> prohibited this customer_response from being saved:</h2>

      <ul>
      <% customer_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :answer_id %>
    <%= f.number_field :answer_id %>
  </div>

  <div class="field">
    <%= f.label :confidence %>
    <%= f.number_field :confidence %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :csr %>
    <%= f.number_field :csr %>
  </div>

  <div class="field">
    <%= f.label :query %>
    <%= f.text_field :query %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
