<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @customer_response.answer_id %>
</p>

<p>
  <strong>Confidence:</strong>
  <%= @customer_response.confidence %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer_response.user_id %>
</p>

<p>
  <strong>Csr:</strong>
  <%= @customer_response.csr %>
</p>

<p>
  <strong>Query:</strong>
  <%= @customer_response.query %>
</p>

<%= link_to 'Edit', edit_customer_response_path(@customer_response) %> |
<%= link_to 'Back', customer_responses_path %>
